User-Agent: *
Disallow: /wp-admin/
#Allow: /wp-admin/admin-ajax.php
Disallow: /wp-login.php
Disallow: /?s=
Disallow: /search/
Disallow: /wp-json/
Disallow: /?rest_route=/
Disallow: /page/*/?s=
Disallow: /xmlrpc.php

Sitemap: https://{{site.domain}}/sitemap_index.xml
