---
- name: Add NextDNS Repo
  become: true
  ansible.builtin.deb822_repository:
    name: nextdns
    uris: "https://repo.nextdns.io/deb"
    suites: stable
    components: main
    signed_by: "https://repo.nextdns.io/nextdns.gpg"
- name: Install NextDNS
  become: true
  ansible.builtin.apt:
    name: nextdns
    state: present
    update_cache: true
- name: "Check if NextDNS is configured (if config file is present)"
  become: true
  ansible.builtin.stat:
    path: "/etc/nextdns.conf"
  register: nextdns_config
- name: "Do initial configuration if NextDNS has not been set up"
  become: true
  ansible.builtin.shell: "nextdns install -profile {{ nextdns }} -cache-size 10MB -cache-max-age 5m -max-ttl 5m -report-client-info -auto-activate -mdns disabled"
  when: "not nextdns_config.stat.exists"
- name: Configure NextDNS ID
  become: true
  lineinfile:
    path: /etc/nextdns.conf
    line: "profile {{ nextdns }}"
    regexp: '^profile '
  notify: restart_nextdns
- name: Configure NextDNS Cache Size
  become: true
  lineinfile:
    path: /etc/nextdns.conf
    line: "cache-size 10MB"
    regexp: '^cache-size '
  notify: restart_nextdns
- name: Configure NextDNS Cache Max Age
  become: true
  lineinfile:
    path: /etc/nextdns.conf
    line: "cache-max-age 5m"
    regexp: '^cache-max-age '
  notify: restart_nextdns
- name: Configure NextDNS Max TTL
  become: true
  lineinfile:
    path: /etc/nextdns.conf
    line: "max-ttl 5m"
    regexp: '^max-ttl '
  notify: restart_nextdns
- name: Configure NextDNS Reporting
  become: true
  lineinfile:
    path: /etc/nextdns.conf
    line: "report-client-info true"
    regexp: '^report-client-info '
  notify: restart_nextdns
- name: Configure NextDNS auto-activate
  become: true
  lineinfile:
    path: /etc/nextdns.conf
    line: "auto-activate true"
    regexp: '^auto-activate '
  notify: restart_nextdns
- name: Disable NextDNS mDNS
  become: true
  lineinfile:
    path: /etc/nextdns.conf
    line: "mdns disabled"
    regexp: '^mdns '
  notify: restart_nextdns

- name: Ensure NextDNS is enabled & running
  become: true
  ansible.builtin.systemd:
    name: nextdns
    state: started
    enabled: true
