---
- name: Add NextDNS Repo
  become: true
  ansible.builtin.deb822_repository:
    name: nextdns
    uris: "https://repo.nextdns.io/deb"
    suites: stable
    components: main
    signed_by: "https://repo.nextdns.io/nextdns.gpg"
- name: Install NextDNS
  become: true
  ansible.builtin.apt:
    name: nextdns
    state: present
    update_cache: true
- name: "Configure NextDNS"
  become: true
  ansible.builtin.template:
    src: "templates/nextdns.conf.j2"
    dest: "/etc/nextdns.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: restart_nextdns

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto
- name: Disable systemd-resolved if present
  become: true
  ansible.builtin.systemd:
    name: "systemd-resolved"
    state: stopped
    enabled: false
  when: "'systemd-resolved' in ansible_facts.packages"

- name: Ensure NextDNS is enabled & running
  become: true
  ansible.builtin.systemd:
    name: nextdns
    state: started
    enabled: true
