---
# Install Certbot/Let's Encrypt
# See also: https://certbot.eff.org/instructions?ws=nginx&os=snap
- name: Install Certbot
  become: true
  community.general.snap:
    name:
    - certbot
    state: present
    classic: true
    options:
    - "trust-plugin-with-root=ok"
- name: Install Certbot DNS plugin
  become: true
  community.general.snap:
    name:
    - certbot-dns-cloudflare
    state: present
- name: Create symlink for certbot command
  become: true
  ansible.builtin.file:
    src: /snap/bin/certbot
    dest: /usr/bin/certbot
    state: link
- name: Enable Certbot renewal timer
  become: true
  ansible.builtin.systemd:
    name: snap.certbot.renew.timer
    enabled: true
    state: started

# Configure
- name: Check Certbot credential is set
  ansible.builtin.fail:
    msg: "Missing API Token for Certbot to use Cloudflare for DNS Challenges"
  when: "certbot_cloudflare_api_token is not defined"
- name: Create Certbot secrets directory
  become: true
  ansible.builtin.file:
    path: /root/.secrets
    state: directory
    owner: root
    group: root
    mode: '0700'
- name: Configure Certbot's Cloudflare credentials
  become: true
  ansible.builtin.template:
    src: cloudflare.ini.j2
    dest: /root/.secrets/certbot-cloudflare.ini
    owner: root
    group: root
    mode: '0600'
- name: Check if a certbot account is registered
  become: true
  ansible.builtin.stat:
    path: /etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/
  register: certbot_has_account
- name: Register with Certbot if no account
  become: true
  ansible.builtin.shell: certbot register --email admin@ctmartin.dev,admin@ctmartin.me --no-eff-email --agree-tos
  when: "not certbot_has_account.stat.exists"
- name: Create Certbot certificate directories
  become: true
  ansible.builtin.file:
    path: "/etc/letsencrypt/{{ item }}/"
    state: directory
    owner: root
    group: root
    mode: '0755' # See https://eff-certbot.readthedocs.io/en/stable/using.html#where-are-my-certificates
  loop:
  - live
  - archive
