---
# Ensure hostname is correct (and has full FQDN)
# Note: this does not account for all cases (e.g. /etc/hosts, particularly if cloud-init generates the file)
- name: Ensure hostname is correct and is the full FQDN
  become: true
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
# Create/delete/update user accounts
- include_tasks: users.yml
  loop: "{{ users|default([]) }}"
  loop_control:
    loop_var: user
    label: "{{ user.username }}"
# Disable root account (only allow root access via sudo)
- name: Ensure root account is locked
  become: true
  ansible.builtin.user:
    name: root
    password: '*'
# Delete any default accounts used by hosts for provisioning
- name: Delete any default accounts used for provisioning
  become: true
  ansible.builtin.user:
    name: "{{ item }}"
    state: absent
  loop:
  - ubuntu
  - debian

# Base packages to ensure exist
- include_tasks: packages.yml

# Conditional packages
- include_tasks: unattended.yml
  when: "unattended_upgrades is defined and unattended_upgrades is truthy"

# Other conditional configurations
- name: Configure cron jobs
  become: true
  ansible.builtin.cron: "{{ cron_item }}"
  loop: "{{ cron }}"
  loop_control:
    loop_var: cron_item
    label: "{{ cron_item.name }}"
  when: "cron is defined and cron is truthy"

# Misc
- name: Configure Git initial branch name
  become: true
  community.general.git_config:
    name: init.defaultBranch
    scope: system
    value: main
