---
- name: Install package for Unattended Upgrades
  become: true
  ansible.builtin.apt:
    state: present
    name:
    - unattended-upgrades
- name: Enable APT Periodic (Daily Timer)
  become: true
  ansible.builtin.template:
    src: apt/10periodic.j2
    dest: /etc/apt/apt.conf.d/10periodic
    owner: root
    group: root
    mode: '0644'
- name: Enable APT Unattended Upgrades
  become: true
  ansible.builtin.template:
    src: apt/20auto-upgrades.j2
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    owner: root
    group: root
    mode: '0644'
- name: Configure Unattended Upgrades
  become: true
  ansible.builtin.template:
    src: apt/50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/52unattended-upgrades-local
    owner: root
    group: root
    mode: '0644'
- name: Ensure the apt-daily timer is active
  become: true
  ansible.builtin.systemd:
    name: apt-daily.timer
    enabled: true
    state: started
- name: Ensure the apt-daily-upgrade timer is active
  become: true
  ansible.builtin.systemd:
    name: apt-daily-upgrade.timer
    enabled: true
    state: started
