---
- name: Delete removed user {{ user.username }}
  become: true
  ansible.builtin.user:
    name: "{{user.username}}"
    remove: true
    state: absent
  when: "user.should_exist|default(True) is falsy"
- name: Create user {{ user.username }}
  become: true
  ansible.builtin.user:
    name: "{{user.username}}"
    state: present
    shell: /usr/bin/bash
    password: '{{user.password_hash|default("!")}}'
    create_home: true
    groups: "{{
        (
          user.groups
          + ((docker_users|default([])) is contains(user.username) | ternary(['docker'], []))
          + ((microk8s_users|default([])) is contains(user.username) | ternary(['microk8s'], []))
          + ((admin_accounts|default([])) is contains(user.username) | ternary(['www-data'], []))
          + ((admin_accounts|default([])) is contains(user.username) | ternary(
              ((sites|default([])
              |selectattr('group','defined')).group)
              |default([])
            , []))
          + ((admin_accounts|default([])) is contains(user.username) | ternary(
              (
                ((sites|default([])
                |selectattr('group','none')
                |selectattr('user','defined')).user)
                |default([])
              )
            , []))
          + (
              ((sites|default([])
              |selectattr('additional_group_users','defined')
              |selectattr('additional_group_users','contains',user.username)
              |selectattr('group','defined')).group)
              |default([])
            )
          + (
              ((sites|default([])
              |selectattr('additional_group_users','defined')
              |selectattr('additional_group_users','contains',user.username)
              |selectattr('group','none')
              |selectattr('user','defined')).user)
              |default([])
            )
        )
        | unique
      }}" # TODO: this code makes the task aware of groups used by other roles (web, stacks) and idempotent, but is a mess. It'd be nice if there was a more elegant way to do this
    update_password: "{{ (user.password_overwrite|default(True) is truthy) | ternary('always','on_create') }}"
  when: "user.should_exist|default(True) is truthy"
- name: "Add SSH Keys for {{user.username}}"
  become: true
  ansible.posix.authorized_key:
    user: "{{ user.username }}"
    state: present
    exclusive: true
    key: "{{ user.ssh_keys }}"
  when:
  - "user.should_exist|default(True) is truthy"
  - "user.ssh_keys|default([])|length > 0"
- name: "Remove SSH Keys for {{user.username}} (none specified)"
  become: true
  ansible.posix.authorized_key:
    user: "{{ user.username }}"
    state: present
    key: ""
    exclusive: true
  when:
  - "user.should_exist|default(True) is truthy"
  - "user.ssh_keys|default([])|length == 0"
- name: Create bash aliases for {{ user.username }} (if configured)
  become: true
  ansible.builtin.template:
    src: "templates/bash_aliases/{{ user.username }}.j2"
    dest: "/home/{{ user.username }}/.bash_aliases"
    owner: "{{ user.username }}"
    group: "{{ user.username }}"
    mode: "0755"
  when: (role_path + '/templates/bash_aliases/' + user.username + '.j2') is ansible.builtin.file
- name: Set Git user.name
  become: true
  become_user: "{{ user.username }}"
  # Ansible doesn't like world-readable tmp files but, because of how it uploads modules,
  # it won't work unless we do this
  vars:
    ansible_shell_allow_world_readable_temp: True
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ user.git_name }}"
  when: "user.git_name is defined"
- name: Set Git user.email
  become: true
  become_user: "{{ user.username }}"
  # Ansible doesn't like world-readable tmp files but, because of how it uploads modules,
  # it won't work unless we do this
  vars:
    ansible_shell_allow_world_readable_temp: True
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ user.git_name }}"
  when: "user.git_email is defined"
