 
Unauthorized use of computer and networking resources is prohibited.
All activity may be monitored and reported. If you log on to this system,
you acknowledge your awareness of, and agreement to, this policy.
Violators may be prosecuted to the full extent of the law.
 
