---
- name: "Remove outdated configs"
  become: true
  ansible.builtin.file:
    path: "/etc/firewalld/{{ item }}.xml"
    state: absent
  notify: reload_firewalld
  loop:
  - "policies/docker-https-to-ts"
- name: "Create/override service"
  become: true
  ansible.builtin.template:
    src: "templates/services/{{ item }}.xml.j2"
    dest: "/etc/firewalld/services/{{ item }}.xml"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: reload_firewalld
  loop:
  - tailscale
- name: "Create/override zone"
  become: true
  ansible.builtin.template:
    src: "templates/zones/{{ item }}.xml.j2"
    dest: "/etc/firewalld/zones/{{ item }}.xml"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: reload_firewalld
  loop:
  - tailscale
  - public
  - docker
  - podman
  #- kubernetes # TODO: test
- name: "Create/override policy"
  become: true
  ansible.builtin.template:
    src: "templates/policies/{{ item }}.xml.j2"
    dest: "/etc/firewalld/policies/{{ item }}.xml"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: reload_firewalld
  loop:
  - "docker-forwarding"
  - "docker-allow-out"
  - "docker-allow-to-ts"
  #- "docker-allow-host"
  #- "podman-forwarding"
- name: Enable firewalld
  become: true
  ansible.builtin.systemd:
    name: firewalld
    state: started
    enabled: true
