<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Tailscale</short>
  <description>Tailscale VPN. This port is optional but facilitates direct connections on servers with public IPs (to avoid going through the relay).</description>
  <port protocol="udp" port="41641"/>
</service>
