<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Tailscale Peer Relay</short>
  <description>Tailscale (VPN) Peer Relay. If enabled in Tailscale, this allows using the a server with a public IP instead of the slower DERP relays.</description>
  <port protocol="udp" port="41642"/><!-- TODO: make configurable option -->
</service>
