[defaults]
inventory = inventory/hosts.ini
# (pathspec) Colon separated paths in which Ansible will search for Roles.
;roles_path=~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
roles_path=./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
vault_identity=infra
vault_password_file=~/.infra.vault
