# This file is managed by Ansible
# Changes will be overwritten
#
# This file defines the default / catch-all behavior for Nginx
# When Nginx gets a request for a name it doesn't recognize, close the connection
# Otherwise, Nginx will default to the first server block it knows
# (which is undesirable in most cases for spoofing/security reasons)
# A common example is making an HTTP(S) request to the server's IP
# (such as http://127.0.0.1/ or similar)

server {
  # Listen & mark as default for HTTP & HTTPS ports on both IPv4 & IPv6
  listen 80 default_server;
  listen [::]:80 default_server;
{% if ansible_facts.packages['nginx'][0].version is version("1.25.1", "<") %}
  listen *:443 ssl http2 default_server;
  listen [::]:443 ssl http2 default_server;
{% else %}
  listen *:443 ssl reuseport default_server;
  listen [::]:443 ssl reuseport default_server;
  listen *:443 quic default_server;
  listen [::]:443 quic default_server;
  http2 on;
  http3 on;
  quic_retry on;
{% endif %}


  # Note: no server_name directive is needed due to the use of default_server

  # Don't log invalid requests
  access_log off;
  error_log /dev/null emerg; # (`error_log` doesn't have an `off` option like `access_log` does)

  # Instruct Nginx to close the connection without sending a response
  ssl_reject_handshake on;
  return 444;
}
