---
# This playbook assumes that remote access is done over an SSH connection, therefore, if SSH should be configured then the server will be installed
# Given that all hosts apart from WSL are remotely accessed via SSH, this assumption works pretty well.
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto
# Configure SSH server for remote access
- include_tasks: ssh.yml
  when: "'openssh-server' in ansible_facts.packages"
