<?xml version="1.0" encoding="utf-8"?>
<policy version="1.0" target="CONTINUE"><!-- use target="ACCEPT" to allow all ports instead -->
  <description>allow docker to make outgoing connections to the public internet</description>
  <ingress-zone name="docker"/>
  <egress-zone name="tailscale"/>

  <!-- Allowed services -->
  <service name="https"/>
  <service name="http3"/>
</policy>
