# PHP
- name: Install PHP & common extensions
  become: true
  ansible.builtin.apt:
    state: present
    name: # PHP and a bunch of common extensions
    - "php{{ item }}-fpm" # Note: use phpX.Y-fpm, NOT phpX.Y; apt will also install Apache if you don't
    #- "php{{ item }}-apcu"
    - "php{{ item }}-bcmath"
    - "php{{ item }}-curl"
    - "php{{ item }}-gd"
    - "php{{ item }}-igbinary"
    - "php{{ item }}-imagick"
    - "php{{ item }}-intl"
    - "php{{ item }}-mbstring"
    #- "php{{ item }}-mysql"
    #- "php{{ item }}-sqlite3"
    - "php{{ item }}-xml"
    - "php{{ item }}-zip"
  loop: "{{ php_versions|default([]) }}"
- name: Install PHP MySQL extension
  become: true
  ansible.builtin.apt:
    state: present
    name:
    - "php{{ item }}-mysql"
  loop: "{{ php_versions|default([]) }}"
  when:
    - "'mysql' in stacks|default([]) or 'lamp' in stacks|default([]) or 'wordpress' in stacks|default([])"
- name: Enable PHP-FPM service
  become: true
  ansible.builtin.systemd:
    name: "php{{ item }}-fpm"
    enabled: true
    state: started
  loop: "{{ php_versions|default([]) }}"

# PHP Cleanup
- name: Remove default PHP pool
  become: true
  ansible.builtin.file:
    path: "/etc/php/{{ item }}/fpm/pool.d/www.conf"
    state: absent
  loop: "{{ php_versions|default([]) }}"
